<div class="container">
	<div>
		<div class="text-right" ng-if="testNotNew">
			<button type="button" class="btn btn-danger" ng-click="deleteTest()">delete</button>
		</div>
		<div class="spacer-small">
		</div>
		<div  ng-class="{ 'bg-danger': test.unconfirmed}">
			<input type="text" class="form-control" ng-model="test.testName" placeholder="type test name" /><br />			
			<div class="row">
				<div class="col-sm-4">
					<form>
						Start date:
						<input type="date" name="startday" ng-model="test.startDate">
					</form>
				</div>
				<div class="col-sm-4">
					<form>
						End date:
						<input type="date" name="endday"  ng-model="test.endDate">
					</form>
				</div>
				<div class="col-sm-4">
					<div class="checkbox">
						<label>
							<input type="checkbox" name="question" ng-model="test.isPublic">{{test.isPublic?'Public':'not public'}}
						</label>
					</div>
					<div ng-if="!test.isPublic && privateLink">
						<div>private link:</div>
						<label>{{privateLink}}</label>
					</div>
				</div>
			</div>
			<div>
				<h3 class="text-center">
					Questions
				</h3>
			</div>
		</div>
		<div ng-model="questions">
			<table class="table table-hover">
				<tr ng-repeat="question in questions">
					<td>
						<label ng-class="{ 'bg-danger': question.unconfirmed}">Question # {{$index}}</label>
						<button class="btn btn-danger " ng-click="removeQuestion(questions,$index)" aria-label="Remove">X</button>
						<input type="text" class="form-control" ng-model="question.textDescription" placeholder="type your question here" />
						<form role="form">
							<div class="checkbox">								
								<label> radio
									<input type="radio" value="radio" name="question" ng-model="question.type">
								</label>
								<label> checkbox
									<input type="radio" value="checkbox" name="question" ng-model="question.type">
								</label>
								<label> text
									<input type="radio" value="text" name="question" ng-model="question.type">
								</label>
							</div>
						</form>
						<div class="checkbox">
							<label>
								<input type="checkbox" name="imageIncluded" ng-model="question.imageIncluded">{{question.imageIncluded?'not include image':'include image'}}
							</label>
						</div>
						<div ng-if="question.imageIncluded">
							<form id="file-form" action="" method="POST">
								<div class="directive" custom-on-change data="question" name="image" changefunc="questionImgChanged"></div>
								<img ng-src={{question.imgUrl}} alt="" class="img-thumbnail question_img">
							</form>
						</div>
						<div ng-if="question.type == 'checkbox'">						
							<form role="form" >
								<div class="checkbox">
									<label>
										<input type="checkbox" name="answersAreImages" ng-model="question.answersAreImages">{{question.answersAreImages?'questions are images':'questions are text'}}
									</label>
								</div>
								<div class="checkbox form-inline" ng-repeat="answer in question.allAnswers">
									<label>
										<input type="checkbox" ng-model="answer.isTrue">
										<div ng-if="question.answersAreImages">
											<form id="file-form" action="" method="POST">
												<div class="directive" custom-on-change data="answer" name="photos[]" changefunc="answerImgChanged"></div>											
												<img ng-src={{answer.imgUrl}} alt="" class="img-thumbnail answer_img">
											</form>
										</div>							
										<input ng-if="!question.answersAreImages" type="text" class="form-control" ng-model="answer.text" placeholder="answer" />
									</label>
									<button class="btn btn-danger " ng-click="removeAnswer(question,$index)" aria-label="Remove">X</button>
								</div>
								<button type="button" class="btn btn-default" ng-click="addAnswer(question)">add answer</button>
							</form>
						</div>
						<div ng-if="question.type == 'radio'">
							<form role="form">
								<div class="checkbox">
									<label>
										<input type="checkbox" name="answersAreImages" ng-model="question.answersAreImages">{{question.answersAreImages?'questions are images':'questions are text'}}
									</label>							
								</div>
								<div class="radio form-inline" ng-repeat="answer in question.allAnswers">
									<label>
										<input type="radio" ng-click="setDefault(question.allAnswers,answer)" name="answerss" ng-checked="answer.isDefault">
										<div ng-if="question.answersAreImages">
											<form id="file-form" action="" method="POST">
												<div class="directive" custom-on-change data="answer" name="photos[]" changefunc="answerImgChanged"></div>											
												<img ng-src={{answer.imgUrl}} alt="" class="img-thumbnail answer_img">
											</form>									
										</div>	
										<input ng-if="!question.answersAreImages" type="text" class="form-control" ng-model="answer.text" placeholder="answer" />
									</label>
									<button class="btn btn-danger" ng-click="removeAnswer(question,$index)" aria-label="Remove">X</button>
								</div>
								<button type="button" class="btn btn-default" ng-click="addAnswer(question)">add answer</button>
							</form>	
						</div>
						<div ng-if="question.type == 'text'">
							<input type="text" ng-model="question.textAnswer" class="form-control" placeholder="Type answer here">
						</div>						
					</td>
				</tr>
			</table>
		</div>
		<div class="text-center">
			<button type="button" class="btn btn-default" ng-click="addQuestion()">add question</button>
		</div>
	<div>
	<div class="text-center spacer">
		<button type="button" class="btn btn-default btn-lg btn-block" ng-click="submitTest()">Submit</button>
	</div>	
</div>



