<div class="container">
	<div class="text-center">
		<a href="#/admin/test/createnew" class="btn btn-default" role="button">Create new test</a>
	</div>
	
	<div>
		<h3 class="text-center">Tests available. Click to edit</h3>	
	</div>
		<div ng-model="tests">
			<table class="table table-hover">
				<tr>
					<th>
						Test name
					</th>
					<th>
						Public
					</th>
					<th>
						Statistics
					</th>
				</tr>
				<tr ng-repeat="test in tests">
					<td><a href="#/admin/test/{{test.id}}">{{test.testName}}</a></td>
					<td>{{test.isPublic ? 'yes' : 'no'}}</td>
					<td><a href="#/admin/statistics/{{test.id}}">statistics</a></td>
				</tr>
			</table>
	</div>
</div>