<div class="container">
	<div class="text-center">
		<a href="#/admin/test/createnew" class="btn btn-default" role="button">Create new test</a>
	</div>
	
	<div>
		<h3 class="text-center">Tests available. Click to edit</h3>	
	</div>
		<div ng-model="tests">
			<table class="table table-hover">
				<tr>
					<th>
						Test name
					</th>
					<th>
						Public
					</th>
					<th>
						Statistics
					</th>
				</tr>
				<tr ng-repeat="test in tests | startFrom:currentPage*pageSize | limitTo:pageSize">
					<td class="break_all"><a href="#/admin/test/{{test.id}}">{{test.testName}}</a></td>
					<td>{{test.isPublic ? 'yes' : 'no'}}</td>
					<td><a href="#/admin/statistics/{{test.id}}">statistics</a></td>
				</tr>
			</table>
	</div>
	<div class="text-center" ng-show="numberOfPages-1">
		<button id="list_left" class="btn btn-default" ng-disabled="currentPage == 0" ng-click="currentPage=currentPage-1">
			Previous
		</button>
		{{currentPage+1}}/{{numberOfPages}}
		<button id="list_right" class="btn btn-default" ng-disabled="currentPage >= numberOfPages - 1" ng-click="currentPage=currentPage+1">
			Next
		</button>
	</div>
</div>