<div class="container">
	<div>
		<h3 class="text-center">Tests available</h3>		
	</div>
	<div ng-model="tests">
		<div class="table-responsive">
			<table class="table table-hover table-striped">
				<tr ng-repeat="test in tests">
					<td>
						<div ng-if="test.isAvailable" class="text-center">
							<a href="#/test/{{test.id}}"><h4>{{test.testName}}</h4></a>
						</div>
						<div ng-if="!test.isAvailable" class="text-center">
							<a href="#/test/{{test.id}}"><h4>{{test.testName}}</h4></a>						
						</div>
					</td>	
				</tr>
			</table>
		</div>
	</div>
</div>
