<div class="container">
	<div>	
		<input type="text" class="form-control" ng-model="userForm.name" placeholder="type test name" /><br />		
		<div class="checkbox">
			<input type="checkbox" name="question" ng-model="isPublic">{{isPublic?'Public':'not public'}}
		</div>	
		<div ng-model="questions">
			<table class="table table-hover">
				<tr ng-repeat="question in questions">
					<td>
						<input type="text" class="form-control" ng-model="question.textDescription" placeholder="textDescription" />
						<form role="form">
							<div class="checkbox">								
								<label> radio
									<input type="radio" value="radio" name="question" ng-model="question.type">
								</label>
								<label> checkbox
									<input type="radio" value="checkbox" name="question" ng-model="question.type">
								</label>
								<label> text
									<input type="radio" value="text" name="question" ng-model="question.type">
								</label>
							</div>
						</form>
						<div ng-if="question.type == 'checkbox'">
							<table class="table table-hover">
								<tr ng-repeat="answer in question.allAnswers">
									<td>
										<div class="checkbox">
											<input type="checkbox" ng-model="answer.isTrue">
										</div>	
										<input type="text" class="form-control" ng-model="answer.text" placeholder="textDescription" />
										<span class="input-group-btn">
											<button class="btn btn-danger" ng-click="removeAnswer(question,$index)" aria-label="Remove">X</button>
										</span>
									</td>
								</tr>
							</table>
							<button type="button" class="btn btn-success" ng-click="addAnswer(question)">add answer</button>
						</div>
						<form role="form" ng-if="question.type == 'radio'">
							<div class="checkbox form-inline" ng-repeat="answer in question.allAnswers">
										<input type="radio" value="{{$index}}" name="question" ng-model="question.radioAnswer">
										<input type="text" class="form-control" ng-model="answer.text" placeholder="textDescription" />
										<span class="input-group-btn">
											<button class="btn btn-danger" ng-click="removeAnswer(question,$index)" aria-label="Remove">X</button>
										</span>
							</div>
							<button type="button" class="btn btn-success" ng-click="addAnswer(question)">add answer</button>
						</form>	
						<div ng-if="question.type == 'text'">
							<input type="text" ng-model="question.textAnswer" class="form-control" placeholder="Type answer here">
							<div style="color:grey;">test output = {{question.textAnswer}}</div>
						</div>
					</td>
				</tr>
			</table>
		</div>
		<button type="button" class="btn btn-success" ng-click="addQuestion()">add question</button>
	<div>	
</div>