<div class="container">
	<div ng-if="test.isAvailable">
		<div ng-class="{ 'bg-danger': userForm.unconfirmed}">
			<h3 class="text-center">Fill in user data</h3>
			<form id="user_form" novalidate class="simple-form">
				<input type="text" class="form-control" ng-model="userForm.name" placeholder="Name" /><br />
				<input type="text" class="form-control" ng-model="userForm.surname" placeholder="Surname" /><br />
				<input type="text" class="form-control" ng-model="userForm.phone" placeholder="Phone" /><br />
				<input type="text" class="form-control" ng-model="userForm.email" placeholder="E-mail" /><br />	
			</form>
		</div>
		<div ng-model="test">
			<h1 class="text-center">{{test.testName}}</h1>
		</div>
		<div>
			<table id="questions_table" class="table table-hover">
				<tr ng-repeat="question in test.questions">
					<td>
						<div ng-class="{ 'bg-danger': question.unconfirmed}">{{question.textDescription}}</div>
						<div ng-if="question.imageIncluded">
							<img ng-src={{question.imgUrl}} alt="question" class="img-thumbnail question_img">
						</div>
						<form role="form" ng-if="question.type == 'checkbox'">
							<div class="checkbox form-inline" ng-repeat="answer in question.allAnswers">
								<label>
									<input type="checkbox" ng-model="answer.isTrue">{{!question.answersAreImages ? answer.text: ""}}
									<div ng-if="question.answersAreImages">
										<img ng-src={{answer.imgUrl}} alt="answer.url" class="img-thumbnail answer_img">
									</div>
								</label>
							</div>
						</form>
						<form role="form" ng-if="question.type == 'radio'">
							<div class="radio form-inline" ng-repeat="answer in question.allAnswers">
								<label>
									<input type="radio" ng-click="setDefault(question.allAnswers,answer)" name="answerss" ng-checked="answer.isDefault">
									{{!question.answersAreImages ? answer.text: ""}}
									<div ng-if="question.answersAreImages">
										<img ng-src={{answer.imgUrl}} alt="answer.url" class="img-thumbnail answer_img">
									</div>
								</label>
							</div>
						</form>	
						<div ng-if="question.type == 'text'">
							<input type="text" ng-model="question.textAnswer" class="form-control" placeholder="Type answer here">
						</div>	
					</td>
				</tr>
			</table>
			<div id="submit_button" class="text-center spacer">
				<button type="button" class="btn btn-default btn-lg btn-block" ng-click="submitAnswer()" ng-disabled="submited">Submit answer</button>
			</div>
			<div id="success_send" class="alert text-center" ng-class="{'alert-success': submited,'alert-danger': !submited }" ng-if="submitText">
				<strong>{{submitText}}</strong>
			</div>
		</div>
	</div>
	<div ng-if="!test.isAvailable">
		<div>
			<h1 class="text-center">{{test.testName}}</h1>
		</div>
		<div>
			<h3 class="text-center">{{test.availabilityText}}</h3>
		</div>
	</div>
</div>



