<div class="container">
	<div>
		<form novalidate class="simple-form">
			<input type="text" class="form-control" ng-model="userForm.name" placeholder="Name" /><br />
			<input type="text" class="form-control" ng-model="userForm.surname" placeholder="Surname" /><br />
			<input type="text" class="form-control" ng-model="userForm.phone" placeholder="Phone" /><br />
			<input type="text" class="form-control" ng-model="userForm.email" placeholder="E-mail" /><br />	
		</form>
	<div>
	<div ng-model="test">
		<h1>Test name -> {{test.testName}}</h1>
	</div>
	<div ng-model="questions">
		<table class="table table-hover">
			<tr ng-repeat="question in questions">
				<td>
					<div>{{question.textDescription}}</div>
					<div ng-if="question.picture != ''">
						<img ng-src={{question.picture}} alt="question" height="200px">
					</div>
					<form role="form" ng-if="question.type == 'checkbox'">
						<div class="checkbox form-inline" ng-repeat="answer in question.allAnswers">
							<input type="checkbox" ng-model="answer.isTrue">
							<div ng-if="question.answersAreImages">
								<img ng-src={{answer.url}} alt="answer.url" height="50px">
							</div>
							<input ng-if="!question.answersAreImages" type="text" class="form-control" ng-model="answer.text" placeholder="answer" readonly/>
						</div>
						<div style="color:Grey;">test output = {{question.allAnswers}}</div>
					</form>
					<form role="form" ng-if="question.type == 'radio'">
						<div class="checkbox form-inline" ng-repeat="answer in question.allAnswers">
							<input type="radio" ng-click="setDefault(question.allAnswers,answer)" name="answerss" ng-checked="answer.isDefault">
							<div ng-if="question.answersAreImages">
								<img ng-src={{answer.url}} alt="answer.url" height="50px">
							</div>
							<input ng-if="!question.answersAreImages" type="text" class="form-control" ng-model="answer.text" placeholder="answer" readonly/>
						</div>
						<div style="color:Grey;">test output = {{question.allAnswers}}</div>
					</form>	
					<div ng-if="question.type == 'text'">
						<input type="text" ng-model="question.textAnswer" class="form-control" placeholder="Type answer here">
						<div style="color:Grey;">test output = {{question.textAnswer}}</div>
					</div>	
				</td>
			</tr>
		</table>
		<button type="button" class="btn btn-success" ng-click="submitAnswer()">Submit answer</button>
	</div>
</div>



